<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/da184566-fec5-4925-af16-eb4ee604dbab/resourceGroups/webapp_infra/providers/Microsoft.Web/sites/ASP-NET-EMPTY1</ResourceId>
    <ResourceGroup>webapp_infra</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://asp-net-empty1.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://asp-net-empty1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$ASP-NET-EMPTY1</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>